input {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input--warning {
  border-color: yellow;
}

.input--success {
  border-color: green;
}

.input--danger {
  border-color: red;
}
